<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>581244823119-k5bjbmomu2mehqkto1iipj8lem7h2ii0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.581244823119-k5bjbmomu2mehqkto1iipj8lem7h2ii0</string>
	<key>API_KEY</key>
	<string>AIzaSyDq2haspaUScQj2ZWuastT-vKk8qgb0Xe0</string>
	<key>GCM_SENDER_ID</key>
	<string>581244823119</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.toDoNote</string>
	<key>PROJECT_ID</key>
	<string>to-do-note-31b8a</string>
	<key>STORAGE_BUCKET</key>
	<string>to-do-note-31b8a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:581244823119:ios:d8e9fc560f95b7c194ec3a</string>
</dict>
</plist>